html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
    width: 100%;
    height: 240px;
}

#headerTop {
    width: 100%;
    height: 160px;
    text-align: center;
    background: url("../res/logo/companyNameMobile.png") center center no-repeat;
}

#companyName2 {
    position: relative;
    top: 30px;
}

#headerBottom {
    width: 100%;
    height: 80px;
    text-align: center;
    border-bottom: 2px solid #E0162B;
}

.top {
    width: 100%;
    height: 80px;
}

.top img {
    height: 60px;
}

.scroll {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 6;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.headerImageDiv {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../res/logo/companyStarSmall.png") center center no-repeat;
}

.headerImageDiv-scroll {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../res/logo/companyStarSmall.png") center center no-repeat;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.navButton {
    display: inline-block;
    position: relative;
    top: 15px;
    width: 100px;
    height: 50%;
    border: 4px solid #0052A5;
    border-radius: 4px;
    line-height: 40px;
    font-size: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #0052A5;
}

.navButton:hover {
    border: 4px solid #E0162B;
    background-color: #E0162B;
    color: white;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.navButton-scroll {
    display: inline-block;
    position: relative;
    top: 15px;
    width: 100px;
    height: 50%;
    border: 4px solid #0052A5;
    border-radius: 4px;
    line-height: 40px;
    font-size: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #0052A5;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.navButton-scroll:hover {
    border: 4px solid #E0162B;
    background-color: #E0162B;
    color: white;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#construction {
    font-size: .7em;
}

#backToTopButton {
    cursor: pointer;
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 60px;
    right: 40px;
    bottom: 40px;
    text-align: center;
    font-size: 2em;
    color: black;
    line-height: 60px;
    border: 4px solid black;
    border-radius: 50%;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

#backToTopButton:hover {
    background-color: black;
    color: white;
}

.backToTopButton {
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.backToTopButton-visible {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
    z-index: 6;
}

#landing {
    width: 100%;
    height: 1350px;
    background: url("../res/background/turbine.jpeg") center center no-repeat;
    background-size: cover;
}

#slider {
    text-align: center;
}

#sliderImages {
    display: inline-block;
    width: 867px;
    height: 650px;
}

#sliderImages img {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.topImage {
    opacity: 1;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.bottomImage {
    opacity: 0;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

#sliderControls {
    display: inline-block;
    width: 200px;
    height: 50px;
    -webkit-box-shadow: 3px 3px 3px 4px #222222;
    -moz-box-shadow: 3px 3px 3px 4px #222222;
    -ms-box-shadow: 3px 3px 3px 4px #222222;
    -o-box-shadow: 3px 3px 3px 4px #222222;
    box-shadow: 3px 3px 3px 4px #222222;
}

#leftArrow {
    width: 33.33%;
    height: 100%;
    float: left;
    line-height: 50px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#leftArrow:hover {
    color: #E0162B;
}

#playOrPause {
    width: 33.33%;
    height: 100%;
    float: left;
    line-height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#playOrPause:hover {
    color: #E0162B;
}

#rightArrow {
    width: 33.33%;
    height: 100%;
    float: left;
    line-height: 50px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#rightArrow:hover {
    color: #E0162B;
}

#paperSection {
    position: relative;
    width: 100%;
    height: 642px;
}

#easterEgg {
    position: relative;
    width: 350px;
    height: 350px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url("../res/gif/monkey.gif");
}

#landscapePaper {
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 520px;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-148%, 0);
    -moz-transform: translate(-148%, 0);
    -ms-transform: translate(-148%, 0);
    -o-transform: translate(-148%, 0);
    transform: translate(-148%, 0);
    background: url("../res/background/paper1.jpg") center center no-repeat;
    z-index: 2;
    cursor: -webkit-grab;
    -webkit-box-shadow: 3px 3px 5px 7px #222222;
    -moz-box-shadow: 3px 3px 5px 7px #222222;
    -ms-box-shadow: 3px 3px 5px 7px #222222;
    -o-box-shadow: 3px 3px 5px 7px #222222;
    box-shadow: 3px 3px 5px 7px #222222;
}

#LPheader {
    margin-left: 30px;
    width: 60%;
    cursor: default;
}

#LPdescription {
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    cursor: default;
}

#LPimageWrapper {
    text-align: center;
}

#LPimage {
    position: absolute;
    bottom: 9px;
    left: 9px;
    width: 95%;
    cursor: default;
}

#constructionPaper {
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 520px;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: url("../res/background/paper2.jpg") center center no-repeat;
    z-index: 1;
    cursor: -webkit-grab;
    -webkit-box-shadow: 3px 3px 5px 7px #222222;
    -moz-box-shadow: 3px 3px 5px 7px #222222;
    -ms-box-shadow: 3px 3px 5px 7px #222222;
    -o-box-shadow: 3px 3px 5px 7px #222222;
    box-shadow: 3px 3px 5px 7px #222222;
}

#CPheader {
    margin-left: 40px;
    width: 60%;
    cursor: default;
}

#CPdescription {
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    cursor: default;
}

#CPimageWrapper {
    text-align: center;
}

#CPimage {
    position: absolute;
    bottom: 9px;
    left: 9px;
    width: 95%;
    cursor: default;
}

#lawnPaper {
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 520px;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
    background: url("../res/background/paper3.jpg") center center no-repeat;
    z-index: 0;
    cursor: -webkit-grab;
    -webkit-box-shadow: 3px 3px 5px 7px #222222;
    -moz-box-shadow: 3px 3px 5px 7px #222222;
    -ms-box-shadow: 3px 3px 5px 7px #222222;
    -o-box-shadow: 3px 3px 5px 7px #222222;
    box-shadow: 3px 3px 5px 7px #222222;
}

#lawnheader {
    margin-left: 40px;
    width: 60%;
    cursor: default;
}

#lawndescription {
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    cursor: default;
}

#lawnimageWrapper {
    text-align: center;
}

#lawnimage {
    position: absolute;
    bottom: 9px;
    left: 9px;
    width: 95%;
    cursor: default;
}

#landscapeSection {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 3;
    background-color: white;
}

#LStitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#LStitle a {
    text-decoration: none;
}

#LSleft {
    width: 50%;
    height: 342px;
    float: left;
    background: url("../res/background/spring.jpeg") center center no-repeat;
}

#LSright {
    width: 50%;
    height: 342px;
    float: left;
}

#LSright p {
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    
}

#constructionSection {
    width: 100%;
    height: 500px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#0052A5));
    background-image: -webkit-linear-gradient(top, white, #0052A5);
    background-image: -moz-linear-gradient(top, white, #0052A5);
    background-image: linear-gradient(to bottom, white, #0052A5);
}

#CStitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#CStitle a {
    text-decoration: none;
}

#CSleft {
    width: 50%;
    height: 342px;
    float: left;
    background: url("../res/image/slider/patio2.jpg") center center no-repeat;
}

#CSright {
    width: 50%;
    height: 342px;
    float: left;
}

#CSright p {
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    
}

#spaceForLawn {
    width: 100%;
    height: 200px;
    background: url("../res/background/tools.jpg") top no-repeat;
    background-size: 100%;
}

#lawnCareSection {
    width: 100%;
    height: 500px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#E0162B));
    background-image: -webkit-linear-gradient(top, white, #E0162B);
    background-image: -moz-linear-gradient(top, white, #E0162B);
    background-image: linear-gradient(to bottom, white, #E0162B);
}

#Ltitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Ltitle a {
    text-decoration: none;
}

#Lleft {
    width: 50%;
    height: 342px;
    float: left;
    background: url("../res/image/slider/mower.jpg") center center no-repeat;
}

#Lright {
    width: 50%;
    height: 342px;
    float: left;
}

#Lright p {
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    
}

#spaceForFooter {
    width: 100%;
    height: 200px;
    background: url("../res/background/lawn.jpg") center center no-repeat;
    background-size: 100%;
}

#footer {
    width: 100%;
    height: 600px;
    background-color: #1F2022;
}

#footerLeft {
    width: 50%;
    height: 100%;
    float: left;
}

#footerRight {
    width: 50%;
    height: 100%;
    float: left;
}

#mailList {
    position: relative;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    border: 1px solid #515254;
    text-align: center;
}

#mailList h1 {
    color: #515254;
}

#formEmail {
    width: 80%;
    font-size: 1.5em;
    color: #8EA9A9;
    background-color: #2f2f2f;
    border: none;
    outline: none;
}

#submitBut {
    width: 50%;
    height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#copyrightWrapper {
    width: 100%;
    height: 20%;
    line-height: 60px;
    border-bottom: 1px solid #515254;
}

#copyright {
    color: grey;
    margin-bottom: 0px;
}

#copyrightWrapper p {
    margin: 0px;
    color: grey;
    line-height: 30px;
    font-size: 1.2em;
}

#copyrightWrapper a{
    color: lightblue;
}

#copyrightWrapper a:hover {
    color: gold;
}

#footerButtons {
    width: 100%;
    height: 70%;
}

.footerBut {
    width: 150px;
    height: 40px;
    padding-left: 30px;
    line-height: 40px;
    font-size: 1.3em;
    cursor: pointer;
}

.footerBut a {
    text-decoration: none;
    color: #8EA9A9;
}

.footerBut a:hover {
    color: white;
}