html, body {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    top: 160px;
}

#header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height:  160px;
    border-bottom: 3px solid silver;
    z-index: 2;
    background-color: whitesmoke;
}

#headerLeft {
    height: 100%;
    width: 50%;
    float: left;
    line-height: 160px;
}

#phoneNumber {
    display: inline-block;
    margin: 0px;
    margin-left: 20px;
}

#headerLogoImg {
    position: relative;
    left: 20px;
    vertical-align: middle;
}

#headerLogoImg:hover {
    cursor: pointer;
}

#headerRight {
    height: 100%;
    width: 50%;
    float: left;
}

#companySloganContain {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#companySlogan {
    margin: 0px;
}

nav {
    width: 100%;
    height: 80px;
}

nav div {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 80px;
    background-color: rgb(153, 153, 153);
    border-radius: 15px 15px 0px 0px;
}

nav div:hover {
    cursor: pointer;
    background-color: rgb(204, 102, 51);
}

#aboutNavButton {
    margin-left: 10px;
    margin-right: 10px;
}

#landing {
    position: relative;
    height: 900px;
    width: 100%;
    background: url("../res/backgrounds/background.jpeg") center center;
    background-size: cover;
}

#info {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(152, 152, 152);
}

#aboutHeader {
    margin: 0px;
    text-align: center;
    color: whitesmoke;
}

#aboutLeft {
    height: 100%;
    width: 50%;
    float: left;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 1.3em;
}

#aboutUs {
    margin-left: 35px;
    text-align: center;
}

#aboutRight {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
}

.beforeChange {
    margin-left: 100%;
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    -ms-transition: margin-left 1s ease;
    -o-transition: margin-left 1s ease;
    transition: margin-left 1s ease;
}

.change {
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    -ms-transition: margin-left 1s ease;
    -o-transition: margin-left 1s ease;
    transition: margin-left 1s ease;
    margin-left: 0px;
}

#mapSection {
    width: 100%;
    padding-top: 50px;
    background-color: whitesmoke;
    text-align: center;
}

#mapSectionHeader {
    margin-top: 0px;
    color: rgb(51, 51, 51);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#map {
    position: relative;
    width: 80%;
    height: 700px;
    left: 10%;
}

.scrollOff {
    pointer-events: none;
}

#footer {
    height: 120px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
}

#footerTop {
    width: 100%;
    text-align: center;
}

#footerTop p {
    margin: 0px;
    line-height: 40px;
}

#footerBottom {
    margin-left: 40px;
}

#footerBottom a {
    color: whitesmoke;
}

#footerBottom a:hover {
    color: gold;
}