html, body {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    top: 160px;
}

#header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height:  160px;
    border-bottom: 3px solid silver;
    z-index: 2;
    background-color: whitesmoke;
}

#headerLeft {
    height: 100%;
    width: 50%;
    float: left;
    line-height: 160px;
}

#phoneNumber {
    display: inline-block;
    margin: 0px;
    margin-left: 20px;
}

#headerLogoImg {
    position: relative;
    left: 20px;
    vertical-align: middle;
}

#headerLogoImg:hover {
    cursor: pointer;
}

#headerRight {
    height: 100%;
    width: 50%;
    float: left;
}

#companySloganContain {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#companySlogan {
    margin: 0px;
}

nav {
    width: 100%;
    height: 80px;
}

nav div {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 80px;
    background-color: rgb(153, 153, 153);
    border-radius: 15px 15px 0px 0px;
}

nav div:hover {
    cursor: pointer;
    background-color: rgb(204, 102, 51);
}

#headerBottom {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 100px;
    left: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .5)), to(rgba(51, 51, 51, .5)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5), rgba(51, 51, 51, .5));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(51, 51, 51, .5));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(51, 51, 51, .5));
    z-index: -10;
}

#aboutNavButton {
    margin-left: 10px;
    margin-right: 10px;
}

#landing {
    position: relative;
    height: 600px;
    width: 100%;
    background: url("../res/backgrounds/background.jpeg") center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 225, .2)), to(rgba(102, 102, 102, .2))), url("../res/backgrounds/background.jpeg");
    background-image: -webkit-linear-gradient(top, rgba(225, 225, 225, .2), rgba(102, 102, 102, .2)), url("../res/backgrounds/background.jpeg");
    background-image: -moz-linear-gradient(top, rgba(225, 225, 225, .2), rgba(102, 102, 102, .2)), url("../res/backgrounds/background.jpeg");
    background-image: linear-gradient(to bottom, rgba(225, 225, 225, .2), rgba(102, 102, 102, .2)), url("../res/backgrounds/background.jpeg");
}

#landingRight {
    width: 100%;
    float: left;
    margin-top: 400px;
}

#info {
    height: 580px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(152, 152, 152);
}

#aboutHeader {
    margin: 0px;
    text-align: center;
    color: whitesmoke;
}

#aboutLeft {
    height: 100%;
    width: 50%;
    float: left;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 1.3em;
}

#aboutLeft img {
    cursor: pointer;
}

#aboutUs {
    margin-left: 35px;
    text-align: center;
}

#aboutRight {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
}

#aboutRight img {
    margin-top: 80px;
}

.beforeChange {
    margin-left: 100%;
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    -ms-transition: margin-left 1s ease;
    -o-transition: margin-left 1s ease;
    transition: margin-left 1s ease;
}

.change {
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    -ms-transition: margin-left 1s ease;
    -o-transition: margin-left 1s ease;
    transition: margin-left 1s ease;
    margin-left: 0px;
}

#space {
    width: 100%;
    height: 500px;
    background: url("../res/backgrounds/background2.jpeg") center center;
    background-size: cover;
    background-attachment: fixed;
}

#mapSection {
    width: 100%;
    background-color: white;
    text-align: center;
    border-top: 10px solid rgb(204, 102, 51);
}

#borderEffect {
    position: relative;
    width: 100%;
    height: 100px;
    top: -10px;
}

#leftCornerEffect{
    float: left;
}

#rightCornerEffect {
    float: right;
}

#mapSectionHeader {
    position: relative;
    top: -50px;
    margin-top: 0px;
    color: rgb(51, 51, 51);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#locationsContain {
    height: 300px;
    width: 100%;
}

#lenexa {
    height: 100%;
    width: 25%;
    float: left;
}

#lenexaInner {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border: 5px outset rgb(51, 51, 51);
    -moz-border-image: -moz-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image: linear-gradient(to bottom right, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image-slice: 1;
}

#dennisOlathe {
    height: 100%;
    width: 25%;
    float: left;
}

#dennisInner {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border: 5px outset rgb(51, 51, 51);
    -moz-border-image: -moz-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image: linear-gradient(to bottom right, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image-slice: 1;
}

#olathe169hwy {
    height: 100%;
    width: 25%;
    float: left;
}

#olathe169Inner {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border: 5px outset rgb(51, 51, 51);
    -moz-border-image: -moz-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image: linear-gradient(to bottom right, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image-slice: 1;
}

#overlandPark {
    height: 100%;
    width: 25%;
    float: left;
}

#overlandInner {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border: 5px outset rgb(51, 51, 51);
    -moz-border-image: -moz-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image: linear-gradient(to bottom right, rgb(192, 192, 192) 0%, rgb(52, 52, 52) 100%);
    border-image-slice: 1;
}

.locationsLink {
    width: 100%;
    font-size: 1.4em;
}

.locationsLink :hover {
    color: black;
}

.locationPic {
    margin-top: 40px;
}

.locationPic:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    #landing {
        position: relative;
        height: 600px;
        width: 100%;
        background: url("../res/backgrounds/background.jpeg") center center;
        background-size: cover;
        background-attachment: scroll;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 225, .2)), to(rgba(102, 102, 102, .2))), url("../res/backgrounds/background.jpeg");
        background-image: -webkit-linear-gradient(top, rgba(225, 225, 225, .2), rgba(102, 102, 102, .2)), url("../res/backgrounds/background.jpeg");
        background-image: -moz-linear-gradient(top, rgba(225, 225, 225, .2), rgba(102, 102, 102, .2)), url("../res/backgrounds/background.jpeg");
        background-image: linear-gradient(to bottom, rgba(225, 225, 225, .2), rgba(102, 102, 102, .2)), url("../res/backgrounds/background.jpeg");
    }
    
    #space {
        width: 100%;
        height: 500px;
        background: url("../res/backgrounds/background2.jpeg") center center;
        background-size: cover;
        background-attachment: scroll;
    }
    
    #locationsContain {
        height: 600px;
        width: 100%;
    }

    #dennisOlathe {
        height: 50%;
        width: 50%;
        float: left;
    }

    #olathe169hwy {
        height: 50%;
        width: 50%;
        float: left;
    }
    
    #lenexa {
       height: 50%;
        width: 50%;
        float: left;
        margin-top: 20px;
    }

    #overlandPark {
        height: 50%;
        width: 50%;
        float: left;
        margin-top: 20px;
    }
}

#mapInstructions {
    margin-top: 52px;
}

#map {
    position: relative;
    width: 80%;
    height: 700px;
    left: 10%;
}

.scrollOff {
    pointer-events: none;
}

#footer {
    height: 120px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    border-top: 5px solid grey;
    border-top-right-radius: 8%;
    border-top-left-radius: 15%;
    
}

#footerTop {
    width: 100%;
    text-align: center;
}

#footerTop p {
    margin: 0px;
    line-height: 40px;
}

#footerBottom {
    margin-left: 40px;
}

#footerBottom a {
    color: whitesmoke;
}

#footerBottom a:hover, .gold:hover {
    color: gold;
}